.personal_data {
   .control-label {
    text-align: left;

     i {
       font-size: 16px;
       width: 18px;
     }
  }
  .zip {
    padding-right: 10px;
  }

  .profile-image {
    border: solid 1px #333;
    margin-bottom: 10px;
    border-radius: 2px;
  }

}


