/* PANEL */
.panel-heading {
  border: none;

  .panel-title {
    font-size: 16px;
    @include relative-unit(font-size, 16px);
  }

  h4.panel-title {
    font-weight: bold;
    color: #999;
    line-height: 18px;
    @include relative-unit(line-height, 18px);
    width: 96%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    i {
      vertical-align: middle;
      margin-right: 3px;
      margin-top: -2px;
      font-size: 20px;
      @include relative-unit(font-size, 20px);
      color: #fbae08;
    }
  }

  a.toggle_collapse {
    position: absolute;
    right: 10px;
    top: 8px;

    i {
      color: #cdcdcd;
      font-size: 16px;
      @include relative-unit(font-size, 16px);
    }
  }
}

.panel {
  box-shadow: none;

  table {
    i.fa {
      font-size: 20px;
      @include relative-unit(font-size, 20px);
      margin-right: 3px;
    }
  }
}

.panel-default {
  border-color: #ccc;
  border-radius: 2px;

  > .panel-heading {
    position: relative;
    background-color: transparent;
  }

  .panel-body {
    padding-top: 5px;
  }
}

.panel-inverse {
  border-color: #ccc;
  border-radius: 2px;

  > .panel-heading {
    position: relative;
    background-color: $green-hornet;
  }

  h4.panel-title {
    color: white;

    i {
      color: white;
    }
  }

  a.toggle_collapse {
    i {
      color: white;
    }
  }
}

.panel_selector {
    margin-bottom: 4px;

    .panel-heading {
      padding: 0;
      background-color: #ededed;
    }

    .panel-collapse {
      border-top: solid 1px #ddd;
    }

    h4.panel-title {
      position: relative;

      a {
        display: block;
        padding: 10px 15px 10px 40px;
        margin-right: 14px;
        text-decoration: none;

        i {
          font-size: 25px;
          @include relative-unit(font-size, 25px);
          padding: 4px;
          margin: 0;
          background-color: #333;
          color: white;
          position: absolute;
          top: 2px;
          left: 2px;

          &.red {
            background-color: #c22d32;
          }
        }

        span.count {
          margin-right: 4px;
        }
      }
    }
    a.toggle_collapse {
      right: 0;
      padding: 10px;
      margin: -10px 0;
      border-left: solid 1px #ccc;
    }

    .panel-body {
      .row {
        margin-bottom: 6px;
      }

      i {
        font-size: 20px;
        @include relative-unit(font-size, 20px);
        margin-right: 10px;
        margin-left: -3px;
      }
    }
}

.panel-no-header {
  padding-top: 15px;
}