html {
  position: relative;
  min-height: 100%;
}

.login_footer {
  display: block;

  width: 100%;
  background-color: $blue-steel-base;
  color: white;

  @media (min-width: $screen-md-min){
    position: absolute;
    bottom: 0;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h4 {
    padding: 2px 5px 5px;
    border-bottom: solid 1px $grey-x-light;
  }

  p {
    padding: 5px;
  }
} // .login_footer

